<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
</head>
<body>
    <h1>Bienvenido al Sistema de Análisis de Incidentes</h1>
    <ul>
	<li><a href="/ej1">Ejercicio 1-Practica1</a></li>
        <li><a href="/ej2">Ejercicio 2-Practica1</a></li>
        <li><a href="/ej3">Ejercicio 3-Practica1</a></li>
        <li><a href="/ej4">Ejercicio 4-Practica1</a></li>
        <li><a href="/dashboard">Ejercicio1-Practica2</a></li>
        <li><a href="/vulnerabilidades">Ver últimas 10 vulnerabilidades CVE</a></li>
        <li><a href="/generar_informe">Descargar Informe en PDF</a></li>
    </ul>
</body>
</html>